VITE_FIREBASE_API_KEY=AIzaSyDpBeBUEn8RRFLNM3aTmT4g9F31pe7H9so
VITE_FIREBASE_AUTH_DOMAIN=tesouraria-fm-novo.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tesouraria-fm-novo
VITE_FIREBASE_STORAGE_BUCKET=tesouraria-fm-novo.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=753261410306
VITE_FIREBASE_APP_ID=1:753261410306:web:3e941ba1ce07ebe65ecf1b
